<%- include('../universal/header.ejs') %> 
<title>Edit Article</title>
<div class="container">
    <h1 class="mb-4">Edit Article</h1>

    <form action="/articles/edit/<%=article.id%>" method="post">
        <%- include('_form') %>
    </form>
</div>
